<!DOCTYPE html>
<!--

Things to do:
1. Externalize CSS Stylesheet
2. Update links and provide new views for "About", "Our Founders", "Contact Us"
3. On HTML page, when you select a major, selection box turns green and the major stays
4. On refresh, it needs to clear context

-->

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "js/tableExport.jquery.plugin-master/tableExport.js" %}"></script>
	<script type="text/javascript" src="{% static "js/tableExport.jquery.plugin-master/jquery.base64.js" %}"></script>
	<script type="text/javascript" src="{% static "js/index.js" %}"></script>


	<style type="text/css">
		body{
			margin-top:60px;
			/*width: 760px;  how wide to make your web page */
			background-color: #FFF;  /*what color to make the background */
			margin: 0 auto;
			padding: 0;
			font:12px/16px "Gill Sans", sans-serif; /* default font */
		}
		h1{
			color: #000000;
			font: 30px/34px "Gill Sans";
			line-height: 10px;
			text-align: center; 
		}
		h2{
			color: #b30000;
			text-align: center;
			line-height: 10px;
			font: 20px/24px 'Brush Script MT';
		}
		h3{
			color: #000000;
			min-width:800px;
			max-width:800px;
			text-align:center;
			margin:0 auto;
			font: 18px/20px "Gill Sans";
		}
		a
		{
			color: #000000;
			text-decoration: none;
		}
		a:hover {
		    color: #b30000;
		}
		div#menu {
			width:100%;
		    height:50px;
		    display:block;
		    position:absolute;
		    top:0;
		    left:0;
			font: 12px/16px "Gill Sans";
		}
		#selfie
		{ height: 200px; width: 200px; }
		div#page1{
	background-color:  #FFF;
}


div#page2{
	background-color: #e6e6e6;
	height: 400px; 
}

div#page3{
	background-color: #FFF;
	height: 300px; 
}

div#page4{
	background-color: #e6e6e6;
	height: 150px; 
}
		.logo{
			background-color:  #e6e6e6;
		    float:left;
			height: 70px;
	    }
		.nav{
			background-color:  #e6e6e6;
		    float:right;
		    margin-right:10px;
		}
		.nav ul li{
			background-color:  #e6e6e6;
		    list-style:none;
		    float:left;
			display:inline;
		    padding: 10px 40px;
			font: 16px/20px  "Gill Sans";
	    }

		.fixed-nav-bar {
		  position: fixed;
		  top: 0;
		  left: 0;
		  z-index: 9999;
		  width: 100%;
		  height: 70px;
		  background-color: #e6e6e6;
		}

		table {
		  overflow: hidden;
		  text-align: center;
		  margin-left: auto;
		    margin-right: auto;
		}

		col:first-child {background: #e6e6e6}
		col:nth-child(2n+3) {background: #e6e6e6}

		tr:hover {
		  background-color: #ffcccc;
		}

		td {
		  width: 120px;
		  height: 25px; 
		  position: relative;
		}

		th {
		  width: 120px;
		  height: 30px; 
		  position: relative;
		  font: 15px/19px "Gill Sans";
		  border-radius: 15px 15px 0px 0px;
		  background-color:  #CCC;
		  
		}

		td:hover::after,
		th:hover::after {
		  content: "";
		  position: absolute;
		  background-color: #ffa;
		  left: 0;
		  top: -5000px;
		  height: 10000px;
		  width: 100%;
		  z-index: -1;
		}


		.majorChoices {
		  width: 100%;
		   margin-left: auto;
		    margin-right: auto;
		    text-align: center; 
		}
		form{
		  margin-left: auto;
		    margin-right: auto;
		    text-align: center; 
		}
		.demo select {
			border: 0 !important;  /*Removes border*/
			-webkit-appearance: none;  /*Removes default chrome and safari style*/
			-moz-appearance: none; /* Removes Default Firefox style*/
	        appearance:none;
			background: #b30000 url(img/select-arrow.png) no-repeat 90% center;
			width: 200px; /*Width of select dropdown to give space for arrow image*/
			text-indent: 0.01px; /* Removes default arrow from firefox*/
			text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
			color: #FFF;
			border-radius: 15px;
			padding: 5px;
			box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
		}
		.demo select.black {
			background-color: #000;
		}
		.demo select.option3 {
			border-radius: 10px 0;
		}
		
	</style>
	<title>50 Shades of Webstac</title>


</head>
<body> 
	
	<nav class="fixed-nav-bar">
		<img class="logo" alt="image not found" src="https://upload.wikimedia.org/wikipedia/en/f/fb/Washington_University_in_St._Louis_logo.png" />
		<div class="nav">
			<ul>
	        <li><a href="#home">HOME</a></li>
			<li><a href="#founders">OUR FOUNDERS</a></li>
	        <li><a href="#about">ABOUT</a></li>
	        <li><a href="#contact">CONTACT US</a></li>
	    	</ul>
		</div>
	</nav>	
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<div id="page1">
	  		<a id="home" class="smooth"></a>
		  	<h1>50 Shades of Webstac</h1>
		  	<h2> ~experience a new kind of schedule~ </h2>

		  	<br>
		 	
		 	<table id="classSchedule">

				<thead>
					<tr>
						<th>Freshman Fall</th>
						<th>Freshman Spring</th>
						<th>Sophomore Fall</th>
						<th>Sophomore Spring</th>
						<th>Junior Fall</th>
						<th>Junior Spring</th>
						<th>Senior Fall</th>
						<th>Senior Spring</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						{% if schedule %}
						{{schedule | safe}}
						{% endif %}
					</tr>
				</tbody>
			  	

		  	</table>

			<br>
			<br>

			<div class="majorChoices">
			  	<form class="demo" action="{% url 'index' %}" method="post">

					<select name = "majorChoice1">
						<option>Select Your First Major <span class="caret"></span></option>
						{% if majors %}
							{% for major in majors %}
								<option value = "{{major.majorName}}">{{ major.majorName }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select>
					{% csrf_token %}

				
					<select name = "majorChoice2">
						<option>Select Your Second Major <span class="caret"></span></option>
						{% if majors %}
							{% for major in majors %}
								<option value = "{{major.majorName}}">{{ major.majorName }}</option>
							{% endfor %}
						{% else %}
								 <option>Error loading </option>
						{% endif %}
					</select>

					<br>
				{% if schedule %}	
					<button id="download" type="button">
						Click to download schedule
					</button>
				{% endif %}
				
<br>
			<br>
			<h2> Let us know what you've already taken! </h2>

			</div>
			
			<table id="classSchedule">

				<thead>
					<tr>
						<th>Freshman Fall</th>
						<th>Freshman Spring</th>
						<th>Sophomore Fall</th>
						<th>Sophomore Spring</th>
						<th>Junior Fall</th>
						<th>Junior Spring</th>
						<th>Senior Fall</th>
						<th>Senior Spring</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
					 <td><select name = "class1" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class8" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class15" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class22" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class29" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class36" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class43" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class50" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
				
							
					</tr>
					
					<tr>
					 <td><select name = "class2" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class9" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class16" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class23" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class30" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class37" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class44" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class51" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
				
							
					</tr>
					
					<tr>
					 <td><select name = "class3" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class10" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class17" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class24" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class31" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class38" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class45" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class52" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
				
							
					</tr>
					
					<tr>
					 <td><select name = "class4" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class11" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class18" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class25" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class32" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class39" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class46" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class53" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
				
							
					</tr>
					
					
					<tr>
					 <td><select name = "class5" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class12" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class19" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class26" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class33" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class40" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class47" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class54" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
				
							
					</tr>
					
					
					<tr>
					 <td><select name = "class6" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class13" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class20" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class27" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class34" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class41" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class48" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class55" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
				
							
					</tr>
					
					
					<tr>
					 <td><select name = "class7" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class14" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class21" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class28" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class35" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class42" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class49" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
					 <td><select name = "class56" style="width: 120px;">
						<option>Class Name <span class="caret"></span></option>
						{% if classes %}
							{% for class in classes %}
								<option value = "{{class.classID}}">{{ class.className }}</option>
							{% endfor %}
						{% else %}
							<option>Error loading </option>
						{% endif %}
					</select></td>
				
							
					</tr>
					{% csrf_token %}
					
					
				
				
				</tbody>
			  	
			
		  	</table>
			<br>
			<div style="text-align:center"> 
				<input type = "submit" value = "Submit" text-align = "center">
			</div>
			<br>
				</form>
		</div>
		
		<div id="page2">
	  		<a id="founders" class="smooth"></a>
			<br>
			<h1> OUR FOUNDERS</h1>
			<table>
				<thead>
					<tr>
						<th><div style="width: 200px" >Megan Bacani</div></th>
						<th><div style="width: 200px" >Tina Li</div></th>
						<th><div style="width: 200px" >Bryan Cai</div></th>
						<th><div style="width: 200px" >Jared Quincy Davis</div></th>
						<th><div style="width: 200px" >Jacob Pepe</div></th>
					</tr>
				</thead>
				<tr>
					<td><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAaCAAAAJDRlZmU4N2Q1LWRmZWYtNDEwZi05MmZjLWUyN2I2YjA1NTliOQ.jpg" width="200" height="200"></td>
					<td><img border="0" alt="Tina" src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12524044_10153195160191230_878770263440221962_n.jpg?oh=631d6613034cc850cee2820378b950c1&oe=57A73DB2" width="200" height="200"></td>
					<td><img border="0" alt="Bryan" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAATGAAAAJDVlODgwMjY0LWU0NDgtNDY3Mi05YzQxLTdmY2YxNTcyMTBlZg.jpg" width="200" height="200"></td>
					<td><img border="0" alt="Jared" src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/10151229_1538691419706410_8333298368381272387_n.jpg?oh=6f5fffbdc3da5f2b589ba593ad1cd5de&oe=57A2AFDC" width="200" height="200"></td>
					<td><img border="0" alt="Jacob" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/019/019/18876a8.jpg" width="200" height="200"></td>
				</tr>
				<tr>
					<td>Majoring in Computer Science and Computer Engineering</td>
					<td>Majoring in Computer Science</td>
					<td>Majoring in Finance and Computer Science</td>
					<td>Majoring in Math and Computer Science</td>
					<td>Majoring in Computer Science, Minoring in Korean</td>
				</tr>
				<tr>
					<td>Class of 2017</td>
					<td>Class of 2017</td>
					<td>Class of 2016</td>
					<td>Class of 2016</td>
					<td>Class of 2017</td>
				</tr>
			</table>
		</div>
		
		<div id="page3">
	  		<a id="about" class="smooth"></a>
			<br>
			<h1> ABOUT US</h1>
			<h2> ~ find out about how it all started ~</h2>
			<h3>Once upon a time in the distant Fall 2015 semester, Megan, Tina, Bryan, Jared, and Jacob registered for 437. Upon enrolling in the course, they set out on a dangerous journey to design their own product as a team of software engineers and product managers.
			This is how 50 Shades of Webstac was born. Through tiring battles with pivots from their MVP's, Django/Python learning curves, and end user opinions, the team developed a four year schedule creater for several majors, hopefully passing the test to become the next 437 kings and queens. </h3>
		</div>
		
		<div id="page4">
	  		<a id="contact" class="smooth"></a>
			<br>
			<h1> CONTACT US</h1>
			<h2> ~ want to find out more? ~</h2>
			<h3> <a href = https://github.com/JaredQuincyDavis/CS437> Follow our progress on our Github.  </a></h3>
		</div>
	</nav>
</body>
</html>
